html {
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*@media (max-width: 720px) {*/
/*    html {*/
/*        font-size: 36px;*/
/*    }*/
/*}*/

/*@media (min-width: 721px) {*/
/*    html {*/
/*        !*font-size: 36px;*!*/

/*        display: flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*    }*/
/*}*/

body {
    box-sizing: border-box;
    border: 2px solid blue;

    width: 96vw;
}

body > * {
    padding: min(5vw, 5vh);
}

header {
    box-sizing: border-box;
    border: 2px solid red;

    min-height: min(100%, 100vh);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header > img {
    border: 1px solid blue;

    aspect-ratio: 1 / 1.5;
    object-fit: cover;

    /*max-height: 100%;*/
    /*width: auto;*/
    max-width: min(100%, 100vh);
    max-height: min(100vw, 100vh);

    margin: 0 2vw 1vw 0;

    float: left;

    flex-grow: 0;

    /*justify-self: center;*/
}

header > .about {
    background-color: lightgray;
    border: 2px solid green;

    padding: 2vw;
}

header > .about > h2 {
    margin-top: 0;
}

header > .about > p {
}