html {
    font-size: 1.5rem;

    --padding: min(5vw, 5vh);
}

/*@media (orientation: portrait) {*/
/*    header {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        align-items: center;*/

/*        width: 100%;*/
/*    }*/

/*    header > div.imageContainer {*/
/*        position: relative;*/
/*    }*/

/*    header > div > img {*/
/*        max-width: 100% !important;*/
/*        margin: 0 !important;*/
/*    }*/

/*    header > div > h1 {*/
/*        transform: translateX(0) translateY(0%) !important;*/
/*        bottom: 0;*/
/*        left: 0;*/
/*        position: absolute;*/

/*        margin-bottom: 0;*/
/*    }*/
/*}*/

@media (min-width: 1100px) and (orientation: landscape) {
    /*header > div.imageContainer {*/
    /*    position: relative;*/
    /*}*/

    header > div > h1 {
        margin: 0;
        padding: 0;
        transform: translateX(10vw) translateY(0%) !important;
        bottom: 0;
        left: 0;
        position: absolute;

        /*margin-bottom: 0;*/
    }

    header > .about {
        align-self: center;
    }
}

body {
    border: 4px solid blue;

    padding: var(--padding);
}

body > * {
    padding: var(--padding);
}

header {
    box-sizing: border-box;
    border: 2px solid red;

    display: grid;
    grid-template-columns: 1fr;
}

header > div.imageContainer {

}

header > div.imageContainer > img {
    border: 1px solid blue;

    aspect-ratio: 1 / 1.5;
    object-fit: cover;

    float: left;
    margin: 0 2vw 1vw 0;
}

header > .imageContainer > h1 {
    font-size: 2rem;
    font-weight: bolder;

    transform: translateX(-5vw)
}

header > .imageContainer > .about {
    background-color: lightgray;
    border: 2px solid green;
}

header > .imageContainer > .about > h2 {
    margin-top: 0;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px),1fr));

    gap: 3rem;
}

main > article.project {
    border: 1px solid orange;
}

main > article.project > img {
    width: 100%;
    /*max-width: 100%;*/

    aspect-ratio: 1.5 / 1;
    object-fit: cover;

    align-self: center;

    border: 1px solid purple;
}